body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.top-nav {
    background-color: #000000;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid #8b0000;
}
.top-nav a {
    color: #ff4500;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(139,0,0,0.5);
    background-color: #1a1a1a;
    border: 1px solid #8b0000;
}
.top-nav a:hover {
    color: #ff0000;
    background-color: #8b0000;
    box-shadow: 0 4px 8px rgba(255,0,0,0.5);
}
.maze { /*פה העיצוב של המבוך עצמו*/
    width: 600px;
    height: 600px;
    border: 3px solid #8b0000;
    position: relative;
    background: linear-gradient(45deg, #120202, #300000);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}
.wall {
    background-color: #8b0000;
}
.player-luigi { /*פה העיצוב של לוגי שרץ בתוך המבוך*/
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('luigi-run.gif');
    background-size: cover;
    animation: luigi 20s linear infinite;
    z-index: 5;
}
@keyframes luigi { /*פה התזוזות של לויגי*/
    0% { left: 0; top: 0; }
    20% { left: 570px; top: 0; }
    40% { left: 570px; top: 570px; }
    60% { left: 200px; top: 360px; }
    80% { left: 0; top: 570px; }
    100% { left: 0; top: 0; }
}
.player-mario { /*פה העיצוב של מאריו שרץ בתוך המבוך*/
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('mariof.gif');
    background-size: cover;
    animation: mario 30s linear infinite;
    z-index: 10;
}
@keyframes mario { /*פה התזוזות של מאריו*/
    0% { left: 0; top: 0; }
    20% { left: 570px; top: 0; }
    40% { left: 570px; top: 570px; }
    60% { left: 200px; top: 360px; }
    80% { left: 0; top: 570px; }
    100% { left: 0; top: 0; }
}
.start, .end {
    position: absolute;
    color: #ff4500;
    font-weight: bold;
    z-index: 5;
}
/*מתחת למשפט הזה מופיע העיצוב של נקודות ההתחלה והסוף - לא רלוונטי לפיתוח*/
.start {
    top: -30px;
    left: 0;
}
.end {
    bottom: -30px;
    right: 0;
}
